/* Required for full background image */
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse ,.page-footer{
  background-color: #bb0a0ac7 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #e45a4170 !important;
  }
}

.rgba-gradient {
  background: rgba(223, 108, 15, 0.6);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(195, 76, 44, 0.6), rgba(35, 7, 77, 0.6));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(201, 85, 54, 0.6), rgba(35, 7, 77, 0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.streak.streak-photo {
  background-attachment: fixed;
}

a:visited {color:#fdfdfd;}  /* 已访问的链接 */
a:hover {color:#b08a70;}    /* 鼠标划过链接 */